{{#if anarchy.max}}
<div class="flexcol anarchy-monitor">
  <label class="info-label">
    {{localize (concat 'ANARCHY.actor.counters.anarchy')}}
  </label>
  {{> "systems/mwd/templates/monitors/anarchy.hbs"
    code='anarchy'
    labelkey='ANARCHY.actor.counters.anarchy'
    rowlength=6
    value=anarchy.value
    max=anarchy.max
  }}
</div>
{{/if}}
