<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize 'ANARCHY.actor.monitors.fatigue'}}
  </label>
  {{> "systems/mwd/templates/common/checkbar.hbs"
    code='fatigue'
    value=system.monitors.fatigue.value
    max=(sum system.monitors.fatigue.max system.monitors.fatigue.maxBonus)
    rowlength=3
    adjust=true
  }}
  <div class="resistance-row" data-monitor-code="fatigue">
    <label class="resitance-label">
      {{localize ANARCHY.actor.monitors.resistance}}:
      {{numberFormat (sum system.monitors.fatigue.resistance.default system.monitors.fatigue.resistanceBonus) sign=true}}
    </label>
    <button type="button" class="anarchy-button click-resistance-by-type" data-monitor-code="fatigue">
      {{localize ANARCHY.actor.monitors.resistanceByTypeButton}}
    </button>
  </div>
</div>
