<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize ANARCHY.actor.monitors.physical}}
  </label>
  {{> "systems/mwd/templates/common/checkbar.hbs"
    code='physical'
    value=system.monitors.physical.value
    max=(sum system.monitors.physical.max system.monitors.physical.maxBonus)
    rowlength=3
    adjust=true
  }}
  <div class="resistance-row" data-monitor-code="physical">
    <label class="resitance-label">
      {{localize ANARCHY.actor.monitors.resistance}}:
      {{numberFormat (sum system.monitors.physical.resistance.default system.monitors.physical.resistanceBonus) sign=true}}
    </label>
    <button type="button" class="anarchy-button click-resistance-by-type" data-monitor-code="physical">
      {{localize ANARCHY.actor.monitors.resistanceByTypeButton}}
    </button>
  </div>
</div>
