<div class="flexcol anarchy-monitor">
  <label class="monitor-label">
    {{localize ANARCHY.actor.counters.edgePools.credibility}}
  </label>
  {{> "systems/mwd/templates/common/checkbar.hbs"
    code='credibility'
    labelkey=ANARCHY.actor.counters.edgePools.credibility
    value=system.counters.edgePools.credibility.value
    max=(actorAttribute 'edge' @root.actor)
    rowlength=5
  }}
</div>
