<label class="passport-label" for="system.capacity">{{localize 'ANARCHY.actor.capacity'}}</label>
<input class="passport-input" type="text" name="system.capacity" value="{{system.capacity}}" {{#if options.viewMode}}disabled{{/if}} />
