<label class="passport-label" for="system.counters.essence">{{localize 'ANARCHY.actor.counters.essence'}}</label>
<input class="passport-input" type="number" name="system.counters.essence" data-dtype="Number" value="{{system.counters.essence}}" step="0.1" />
