<label class="info-label" for="system.counters.xp.value">
  {{localize 'ANARCHY.actor.counters.xp'}}
</label>
<input class="info-value" type="number" data-dtype="Number"
  name="system.counters.xp.value" value="{{system.counters.xp.value}}"
/>
<label class="info-label" for="system.counters.xp.total">
  {{localize 'ANARCHY.actor.counters.xpTotal'}}
</label>
<input class="info-value" type="number" data-dtype="Number"
  name="system.counters.xp.total" value="{{system.counters.xp.total}}"
/>