<label class="passport-label" for="name">{{localize 'ANARCHY.actor.name'}}</label>
<input class="passport-input" type="text" name="name" value="{{actor.name}}" {{#if options.viewMode}}disabled{{/if}} />
