<div class="section-group column">
  <h2 class="section-group-header">{{localize 'ANARCHY.actor.counters.social.celebrity'}}</h2>
  <div class="edge-pool-entry">
    <span class="edge-pool-label">{{localize 'ANARCHY.actor.counters.social.legend'}}</span>
    <input type="number" name="system.counters.edgePools.legend.value" data-dtype="Number" value="{{system.counters.edgePools.legend.value}}" min="0" />
  </div>
</div>
