<div class="flexcol">
  <label>
    <a class="click-celebrity-roll">
      <label class="info-label">
          {{localize ANARCHY.actor.counters.edgePools.legend}}
      </label>
    </a>
    <input class="info-value" type="number" data-dtype="Number"
      name="system.counters.edgePools.legend.value"
      data-counter-social="celebrity"
      value="{{system.counters.edgePools.legend.value}}"
      {{#if @root.options.viewMode}}disabled{{/if}}
      />
  </label>
</div>
