<form class="anarchy-dialog select-actor">
  <div class="flexcol">
    {{#each actors as |actor key|}}
      <a class="click-select-actor" data-actor-id="{{actor.id}}">
        {{> 'systems/mwd/templates/common/actor-reference.hbs' actor}}
      </a>
    {{/each}}
  </div>
  <footer class="dialog-buttons">
    <button type="button" class="dialog-button" data-action="cancel">{{localize 'ANARCHY.common.cancel'}}</button>
  </footer>
</form>
