<div class="section-group column">
  <h2 class="section-group-header">{{localize 'ANARCHY.actor.battlemech.weaponGroups'}}</h2>
  <div class="items-group-list">
    {{#each system.weaponGroups as |group|}}
    <div class="item">{{group}}</div>
    {{/each}}
  </div>
</div>
