<div class="section-group column">
  <h2 class="section-group-header">{{localize 'ANARCHY.actor.battlemech.quickActions'}}</h2>
  <div class="items-group-list">
    {{#each system.quickActions as |action|}}
    <div class="item">{{action}}</div>
    {{/each}}
  </div>
</div>
