<div class="passport-details-row">
{{#if options.limited}}
  <div class="passport-detail">
    {{> "systems/mwd/templates/actor/character/name.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/mwd/templates/actor/character/genre.hbs"}}
  </div>
{{else}}
  <div class="passport-detail">
    {{> "systems/mwd/templates/actor/character/name.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/mwd/templates/actor/character/genre.hbs"}}
  </div>
  <div class="passport-detail">
    {{> "systems/mwd/templates/actor/character/karma.hbs"}}
  </div>
{{/if}}
</div>
