<div class="section-group column">
  <h2 class="section-group-header">{{localize 'ANARCHY.actor.vehicle.pilot'}}</h2>
  <textarea name="system.pilot" class="vehicle-pilot">{{system.pilot}}</textarea>
</div>
