<div class="section-group column">
  <h2 class="section-group-header">{{localize 'ANARCHY.actor.vehicle.crew'}}</h2>
  <textarea name="system.crew" class="vehicle-crew">{{system.crew}}</textarea>
</div>
