<div class="passport-detail vehicle-crew">
  <label class="info-label">{{localize ANARCHY.actor.vehicle.crew.label}}</label>
  <textarea class="info-value" name="system.crew" rows="1" placeholder="{{localize ANARCHY.actor.vehicle.crew.placeholder}}">{{system.crew}}</textarea>
</div>
