    .wrapper-hexabox {
        --wrapper-padding: 6px;
        --wrapper-background-color: white;
        --wrapper-border-color: black;
        position: relative;
        padding: var(--wrapper-padding);
        text-align: center;

        >.content {
            height: 100%;
            background-color: var(--wrapper-background-color);
        }

        >.side {
            position: absolute;
            background-color: var(--wrapper-background-color);

            &.up {
                height: var(--wrapper-padding);
                left: var(--wrapper-padding);
                right: var(--wrapper-padding);
                border-top: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                top: 0px;
            }

            &.down {
                height: var(--wrapper-padding);
                left: var(--wrapper-padding);
                right: var(--wrapper-padding);
                border-bottom: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                bottom: 0px;
            }

            &.left {
                width: var(--wrapper-padding);
                left: 0px;
                border-left: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                top: var(--wrapper-padding);
                bottom: var(--wrapper-padding);
            }

            &.right {
                width: var(--wrapper-padding);
                right: 0px;
                border-right: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                top: var(--wrapper-padding);
                bottom: var(--wrapper-padding);
            }


        }

        >.angle {
            width: 0px;
            height: 0px;
            position: absolute;

            &.tl {
                top: 0;
                left: 0;
                border-top: var(--wrapper-padding) solid transparent;
                border-right: var(--wrapper-padding) solid var(--wrapper-background-color);
            }

            &.tl::before {
                content: '';
                position: absolute;
                display: block;
                border-top: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                width: calc(1.41 * var(--wrapper-padding));
                left: 1px;
                top: -1px;
                transform-origin: bottom left;
                transform: rotate(-45deg);
            }

            &.tr {
                top: 0;
                right: 0;
                border-top: var(--wrapper-padding) solid transparent;
                border-left: var(--wrapper-padding) solid var(--wrapper-background-color);
            }

            &.tr::before {
                content: '';
                position: absolute;
                display: block;
                border-top: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                width: calc(1.41 * var(--wrapper-padding));
                left: 0px;
                top: -2px;
                transform-origin: bottom left;
                transform: rotate(-135deg);
            }

            &.br {
                bottom: 0;
                right: 0;
                border-bottom: var(--wrapper-padding) solid transparent;
                border-left: var(--wrapper-padding) solid var(--wrapper-background-color);
            }


            &.br::before {
                content: '';
                position: absolute;
                display: block;
                border-top: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                width: calc(1.41 * var(--wrapper-padding));
                top: -3px;
                left: -2px;
                transform-origin: bottom left;
                transform: rotate(135deg);
            }

            &.bl {
                bottom: 0;
                left: 0;
                border-bottom: var(--wrapper-padding) solid transparent;
                border-right: var(--wrapper-padding) solid var(--wrapper-background-color);
            }

            &.bl::before {
                content: '';
                position: absolute;
                display: block;
                border-top: var(--wrapper-thickness, 2px) solid var(--wrapper-border-color);
                width: calc(1.41 * var(--wrapper-padding));
                top: -2px;
                left: 0px;
                transform-origin: bottom left;
                transform: rotate(45deg);
  }
}

.mech-quick-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;

    .quick-action-button {
        display: inline-flex;
        align-items: center;
        gap: 0.35rem;

        &[data-disabled="true"] {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.quick-actions-block {
    .section-group-header {
        margin-bottom: 0.25rem;
    }
}

.quick-action-summary {
    margin: 0.25rem 0 0.5rem 0;
    font-size: var(--font-size-12);

    .quick-action-line {
        display: flex;
        gap: 0.35rem;
        flex-wrap: wrap;
        align-items: center;

        &.subtle {
            color: var(--color-text-dark-secondary);
        }
    }

    .tag {
        background: var(--color-border-light-primary);
        border: 1px solid var(--color-border-dark-primary);
        border-radius: 3px;
        padding: 0.05rem 0.35rem;
        font-size: var(--font-size-11);
        line-height: 1.2;
    }
}
    }