{{#if options.limited}}
{{>"systems/mwd/templates/actor/character-limited.hbs"}}
{{else}}
<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="passport-header">
      <div class="passport-img">
        <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" data-tooltip="{{data.name}}" />
      </div>
      <div class="passport-column">
        <div class="passport-details-row">
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/name.hbs"}}
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/genre.hbs"}}
          </div>
          <div class="passport-detail">
            {{> "systems/mwd/templates/actor/character/karma.hbs"}}
          </div>
        </div>
        <div class="passport-action-row">
          <div class="passport-action">
            {{> "systems/mwd/templates/actor/parts/attributebuttons.hbs"}}
          </div>
          {{#if ownerActor}}
          <div class="passport-owner">
            {{> 'systems/mwd/templates/actor/parts/ownership.hbs'}}
          </div>
          {{/if}}
        </div>
      </div>
      {{> "systems/mwd/templates/common/view-mode.hbs"}}
    </div>
  </header>
  <section class="sheet-body">
    <div class="section-attributes anarchy-attributes">
      {{> "systems/mwd/templates/actor/parts/attributes.hbs"}}
    </div>
    <div class="section-group anarchy-words-section">
      <div class="anarchy-words anarchy-keywords">
      {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='keywords' values=system.keywords}}
      </div>
      <div class="anarchy-words anarchy-cues">
      {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='cues' values=system.cues}}
      </div>
      <div class="anarchy-words anarchy-dispositions">
      {{> "systems/mwd/templates/actor/parts/words.hbs" wordType='dispositions' values=system.dispositions}}
      </div>
    </div>
    <div class="section-group items-group">
    {{> "systems/mwd/templates/actor/parts/skills.hbs"}}
    </div>
    <div class="section-group items-group">
    {{> "systems/mwd/templates/actor/parts/asset-modules.hbs"}}
    </div>
    <div class="section-group items-group">
    {{> "systems/mwd/templates/actor/parts/qualities.hbs"}}
    </div>
    <div class="section-group items-group">
    {{> "systems/mwd/templates/actor/parts/weapons.hbs"}}
    </div>
    <div class="section-group monitors-row">
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/armor.hbs"}}
      </div>
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/physical.hbs"}}
      </div>
      <div class="anarchy-block">
        {{> "systems/mwd/templates/monitors/fatigue.hbs"}}
      </div>
      <div class="anarchy-block flexcol edge-pools">
        {{> "systems/mwd/templates/monitors/edge-pool.hbs" code='grit'}}
        {{> "systems/mwd/templates/monitors/edge-pool.hbs" code='insight'}}
      </div>
      <div class="anarchy-block flexcol edge-pools">
        {{> "systems/mwd/templates/monitors/edge-pool.hbs" code='rumor'}}
        {{> "systems/mwd/templates/monitors/edge-pool.hbs" code='legend'}}
      </div>
      <div class="anarchy-block flexcol edge-pools">
        {{> "systems/mwd/templates/monitors/edge-pool.hbs" code='credibility'}}
        {{> "systems/mwd/templates/monitors/edge-pool.hbs" code='chaos'}}
      </div>
      <div class="anarchy-block flexcol">
        {{> "systems/mwd/templates/monitors/anarchy-actor.hbs"}}
      </div>
    </div>
    <div class="section-group items-group">
    {{> "systems/mwd/templates/actor/parts/cyberdecks.hbs"}}
    </div>
    <div class="section-group">
      <div class="items-group third-width">
      {{> "systems/mwd/templates/actor/parts/owned-actors.hbs"}}
      {{> "systems/mwd/templates/actor/parts/gears.hbs"}}
      </div>
      <div class="items-group third-width">
      {{> "systems/mwd/templates/actor/parts/contacts.hbs"}}
      </div>
      <div class="items-group third-width">
      </div>
    </div>

    <div class="anarchy-block">
      {{> 'systems/mwd/templates/actor/parts/life-modules.hbs'}}
    </div>

    <div class="anarchy-block">
      {{> 'systems/mwd/templates/actor/parts/description.hbs'}}
      {{> 'systems/mwd/templates/actor/parts/gmnotes.hbs'}}
    </div>
  </section>
</form>
{{/if}}