{{#if flags.editable}}
<span class="parameter-label info-value">
  <select name="select-{{code}}" class="select-attribute-parameter info-value" data-dtype="String">
    {{selectOptions choices selected=selected labelAttr="labelkey" localize=true blank=''}}
  </select>
</span>
{{else}}
<label class="parameter-label info-label">
  {{> 'systems/mwd/templates/common/label.hbs' this}}
</label>
{{/if}}
<input disabled  class="parameter-value info-value" type="number" data-dtype="Number" maxlength="2"
  value="{{either value 0}}"/>
</label>
<div class="input-cursor-parameter">
  {{>'systems/mwd/templates/roll/parts/dice-cursor.hbs' value=value min=0 max=value editable=false}}
</div>

