<div class="define-item-type section-asset-modules wrapper {{actorTabClosed actor._id 'assetModules'}}" data-item-type="assetModule">
  <h2 class="wrapper-hexabox click-section" data-class="section-asset-modules">
    {{> "systems/mwd/templates/actor/character-enhanced/hexabox.hbs"}}
    <div class="content">
      {{localize 'ANARCHY.itemType.plural.assetModule'}}
      {{> 'systems/mwd/templates/common/item-control-add.hbs'
      itemType='assetModule'}}
    </div>
  </h2>
  <div class="item-list section-asset-modules {{actorTabClosed actor._id 'assetModules'}}">
    {{#each (sortAssetModules items.assetModule) as |assetModule|}}
    {{> "systems/mwd/templates/actor/character-enhanced/asset-module.hbs"
    assetModule}}
    {{/each}}
  </div>
</div>
