<div class="item anarchy-asset-module" data-item-id="{{_id}}" data-item-type="assetModule">
  <div class="asset-module-line">
    <span class="item-title">{{name}}</span>
    {{#if system.level}}<span class="item-subtitle">{{localize 'ANARCHY.item.assetModule.levelShort'}} {{system.level}}</span>{{/if}}
  </div>
</div>
