<div class="anarchy-block">
  <h2 class="section-group-header">{{localize 'ANARCHY.itemType.plural.assetModule'}}</h2>
  <div class="items-group-list">
    {{#each (sortAssetModules items.assetModule) as |assetModule|}}
    {{> 'systems/mwd/templates/actor/character-enhanced/asset-module.hbs' assetModule}}
    {{/each}}
  </div>
</div>
