<label class="title">
  {{localize (concat 'ANARCHY.actor.counters.edgePools.grit')}}
</label>
{{> "systems/mwd/templates/common/checkbar.hbs"
  code='grit'
  labelkey='ANARCHY.actor.counters.edgePools.grit'
  value=system.counters.edgePools.grit.value
  max=(actorAttribute 'edge' @root.actor)
  rowlength=6
}}