 <div class="title">
    {{localize 'ANARCHY.actor.monitors.fatigue'}}
</div>
<div class="anarchy-monitor">
    {{> "systems/mwd/templates/actor/character-enhanced/checkbar.hbs"
    code='fatigue'
    value=system.monitors.fatigue.value
    max=(sum system.monitors.fatigue.max system.monitors.fatigue.maxBonus)
    rowlength=3
    adjust=true
    }}
  </div>
  <label class="resistance-label">
    {{localize ANARCHY.actor.monitors.resistance}}:
    <div class="value">
      {{system.monitors.fatigue.resistanceBonus}}
    </div>
  </label>