 <div class="title">
    {{localize 'ANARCHY.actor.monitors.fatigue'}}
</div>
  <div class="anarchy-monitor">
    {{> "systems/mwd/templates/actor/character-enhanced/checkbar.hbs"
    code='fatigue'
    value=system.monitors.fatigue.value
    max=(sum system.monitors.fatigue.max system.monitors.fatigue.maxBonus)
    rowlength=3
    adjust=true
    }}
  </div>
  <div class="resistance-row" data-monitor-code="fatigue">
    <label class="resistance-label">
      {{localize ANARCHY.actor.monitors.resistance}}:
      <div class="value">
        {{numberFormat (sum system.monitors.fatigue.resistance.default system.monitors.fatigue.resistanceBonus) sign=true}}
      </div>
    </label>
    <button type="button" class="anarchy-button click-resistance-by-type" data-monitor-code="fatigue">
      {{localize ANARCHY.actor.monitors.resistanceByTypeButton}}
    </button>
  </div>