  <label class="title">
    {{localize ANARCHY.actor.counters.edgePools.credibility}}
  </label>
  {{> "systems/mwd/templates/actor/character-enhanced/checkbar.hbs"
    code='credibility'
    labelkey=ANARCHY.actor.counters.edgePools.credibility
    value=system.counters.edgePools.credibility.value
    max=(actorAttribute 'edge' @root.actor)
    rowlength=5
  }}