  <label class="title">
    {{localize ANARCHY.actor.counters.edgePools.rumor}}
  </label>
  {{> "systems/mwd/templates/common/checkbar.hbs"
    code='rumor'
    labelkey=ANARCHY.actor.counters.edgePools.rumor
    value=system.counters.edgePools.rumor.value
    max=(actorAttribute 'edge' @root.actor)
    rowlength=5
  }}
